<li class="post-card">
<h1>Nuevo Post</h1>
<p>Asegurese de subir una foto y una descripcion de al menos 10 caracteres</p>
<%= form_with(model: @post, local: true) do |form| %>
    <div class="mb-3">
      <%= form.label :description, class: 'form-label' %>
      <%= form.text_area :description, class: 'form-control', rows: 5, required: true %>
    </div>
    <div class="mb-3">
      <%= form.label :image, class: 'form-label' %>
      <%= form.file_field :image, class: 'form-control', required: true %>
    </div>
    <div>
      <%= form.submit 'Crear Post', class: 'btn btn-primary' %>
    </div>
<% end %>
</li>
