<!DOCTYPE html>
<html>
<head>
  <title>Instagram</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto"> <!-- Este elemento vacío asegura que el contenido de la derecha esté alineado correctamente -->
    </ul>
    <div class="navbar-nav ms-auto"> <!-- Usar 'ms-auto' (o 'ml-auto' en Bootstrap 4) para empujar elementos a la derecha -->
      <div class="d-flex align-items-center">
        <% if current_user %>
          <%= link_to "Instagram", root_path, class: "navbar-brand" %> 
          <%= link_to "Nuevo Post", new_post_path, class: 'nav-link' %>
          <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: 'btn btn-link nav-link' %>
          <span class="navbar-text">
            <i class="fas fa-user-circle"></i> <%= current_user.email %>
          </span>
        <% else %>
          <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
          <%= link_to 'Sign_Up', new_user_registration_path, class: 'nav-link' %>
        <% end %>
        <!-- Agrega la imagen de ícono al lado derecho de la navbar -->
        <div class="ms-3"> <!-- Usar 'ms-3' para agregar margen izquierdo y separar el ícono -->
        
          <%= image_tag 'Instagram_Color_icon-icons.ico', class: 'navbar-icon', alt: 'Instagram Icon' %>
        </div>
      </div>
    </div>
  </div>
</nav>


<div class="content-background">
<div class="container mt-4">
  <% flash.each do |key, message| %>
    <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %>">
      <%= message %>
    </div>
  <% end %>

  <div class="text-center">
    <%= yield %>
  </div>
</div>
</div>

<footer class="bg-light text-center text-lg-start mt-4">
      <div class="arriba">
       <strong><h3>Desarrollado por:</h3></strong>
      </div>
      <hr>
  <div class="container p-4">
    <div class="row justify-content-center">
      <!-- Columna 1 -->
      <div class="col-lg-6 d-flex align-items-center mb-4">
      
        <%= image_tag 'roberth1.ico', class: 'footer-image me-3' %>
        <div>
          <h5 class="text-uppercase mb-2">Roberth Izzat Ruiz</h5>
          <p>
            <a href="https://www.facebook.com/roberth.izaat" class="btn btn-primary">Contacta a Roberth</a>
          </p>
        </div>
      </div>
      <!-- Columna 2 -->
      <br>
      <div class="col-lg-6 d-flex align-items-center mb-4">
        <%= image_tag 'roberth1.ico', class: 'footer-image me-3' %>
        <div>
          <h5 class="text-uppercase mb-2">Oscar G Mojica</h5>
          <p>
            <a href="https://www.facebook.com/actors.mathias" class="btn btn-primary">Contacta a Oscar</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>


</body>
</html>
